workflows/4CFaw3XVLRbX9ciS.json
{
  "active": false,
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "MCP Client",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Vector Store": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Simple Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "MCP Client": {
      "main": [
        [
          {
            "node": "Simple Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini": {
      "ai_embedding": [
        [
          {
            "node": "Simple Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-07-15T02:10:21.524Z",
  "id": "4CFaw3XVLRbX9ciS",
  "isArchived": false,
  "meta": null,
  "name": "user_pipeline_v1.1_search",
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "query"
            }
          ]
        }
      },
      "id": "514548ba-d492-47d9-a54a-0faee1eefc62",
      "typeVersion": 1.1,
      "name": "When Executed by Another Workflow",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "position": [
        -1104,
        32
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "10c0601a-0798-4c26-9058-1b1709bdcbf3",
              "name": "pageContent",
              "value": "={{ $json.pageContent }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -64,
        32
      ],
      "id": "adad0f5d-b353-40a8-bb9a-0fc88e1b2fe8",
      "name": "Edit Fields",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "mode": "insert",
        "memoryKey": {
          "__rl": true,
          "mode": "list",
          "value": "vector_store_key"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreInMemory",
      "typeVersion": 1.3,
      "position": [
        -512,
        32
      ],
      "id": "7f1d3fc2-3395-4a68-80aa-7fb700e562ed",
      "name": "Simple Vector Store",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        -368,
        240
      ],
      "id": "9e90c7b1-4cfb-4c2c-9519-27a34b5f37cc",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "operation": "executeTool",
        "toolName": "search",
        "toolParameters": "={\"query\": \n \"{{ $json.query }}\"\n}"
      },
      "type": "n8n-nodes-mcp.mcpClient",
      "typeVersion": 1,
      "position": [
        -784,
        32
      ],
      "id": "f5a8b10f-7096-4234-a388-a9b1e8b14ec5",
      "name": "MCP Client"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        -512,
        240
      ],
      "id": "fd3e2897-4823-490a-beb1-3ed5b907c1b1",
      "name": "Embeddings Google Gemini",
      "credentials": {
        "googlePalmApi": {
          "id": "W6dxZLFCXIkzEHfX",
          "name": "Google Gemini(PaLM) Api account 2"
        }
      }
    }
  ],
  "pinData": {
    "When Executed by Another Workflow": [
      {
        "json": {
          "query": "địa chỉ bệnh viện Phan Châu Trinh"
        }
      }
    ]
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-07-15T02:58:08.000Z",
  "versionId": "dcc17ac0-3317-443c-9f9c-c6e7cc43d394"
}