workflows/Ck9DcNINi5xVOoVQ.json
{
  "active": false,
  "connections": {
    "Parse JSON": {
      "main": [
        [
          {
            "node": "create uuid",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter md": {
      "main": [
        [
          {
            "node": "Parse JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "hello",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "response hanh-chinh",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "update kham-lam-sang & get ho-so",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "update tom-tat & get ho-so",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "mock": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "Diagnostic agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "update tom-tat",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Dialogue retrieval llm": {
      "main": [
        [
          {
            "node": "Filter md",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload your file here": {
      "main": [
        [
          {
            "node": "Insert Data to Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Insert Data to Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Query Data Tool": {
      "ai_tool": [
        [
          {
            "node": "Diagnostic agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini": {
      "ai_embedding": [
        [
          {
            "node": "Insert Data to Store",
            "type": "ai_embedding",
            "index": 0
          },
          {
            "node": "Query Data Tool",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Diagnostic agent": {
      "main": [
        [
          {
            "node": "Filter md1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Dialogue retrieval llm",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "mock1": {
      "main": [
        [
          {
            "node": "Diagnostic agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse JSON1": {
      "main": [
        [
          {
            "node": "update so-bo/phan-biet/lam-sang",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter md1": {
      "main": [
        [
          {
            "node": "Parse JSON1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "update kham-lam-sang & get ho-so": {
      "main": [
        [
          {
            "node": "mock",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "update tom-tat": {
      "main": [
        [
          {
            "node": "response tom-tat",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "update tom-tat & get ho-so": {
      "main": [
        [
          {
            "node": "mock1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "update so-bo/phan-biet/lam-sang": {
      "main": [
        [
          {
            "node": "response so-bo/phan-biet/lam-sang",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "response hanh-chinh": {
      "main": [
        [
          {
            "node": "Dialogue retrieval llm",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "create uuid": {
      "main": [
        [
          {
            "node": "respone hanh-chinh/tien-su/benh-su",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-07-11T13:23:52.101Z",
  "id": "Ck9DcNINi5xVOoVQ",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "doc_pipeline_v0.2",
  "nodes": [
    {
      "parameters": {
        "jsCode": "return JSON.parse($input.first().json.cleanedOutput);\n\n\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        920,
        -120
      ],
      "id": "4cab13c4-8acd-4088-b211-d5d84e672f8b",
      "name": "Parse JSON"
    },
    {
      "parameters": {
        "jsCode": "let output = $input.first().json.text; // Adjust based on your LLM output structure\n// let output = $input.first().json.output; // Adjust based on your LLM output structure\n\n// Remove Markdown code block wrappers\noutput = output.replace(/^```(?:json|markdown)?\\n?/, \"\").replace(/\\n?```$/, \"\");\n\n// Remove common LLM text prefixes\noutput = output.replace(/^(Here is the JSON:|Here is your Markdown document:)\\s*/, \"\");\n\nreturn [{ cleanedOutput: output }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        680,
        -120
      ],
      "id": "2c579d5c-3cec-45f9-99fb-4ecc24722245",
      "name": "Filter md"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.params.variable }}",
                    "rightValue": "test",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "d5e952f6-c4f0-44a1-b8aa-3763b3db6ff4"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "hello"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "ad901a4b-27bc-4138-8718-83130be79dfb",
                    "leftValue": "={{ $json.params.variable }}",
                    "rightValue": "hanh-chinh",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "hành chính"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "3f49c1ac-322e-4c68-b633-3f0fd56754ca",
                    "leftValue": "={{ $json.params.variable }}",
                    "rightValue": "lam-sang",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "lâm sàng"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "ddf8c2f7-33f6-47ba-a2c1-1d4655932808",
                    "leftValue": "={{ $json.params.variable }}",
                    "rightValue": "chan-doan-de-nghi",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "chẩn đoán sơ bộ"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -440,
        180
      ],
      "id": "70c9c3a4-baf7-45a4-b9e5-673a6895489a",
      "name": "Switch"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "=chào",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        -20,
        -620
      ],
      "id": "79fc56b6-729a-4bc8-908d-afa0b21d4b31",
      "name": "hello"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        300,
        380
      ],
      "id": "efe612e7-cc41-4993-a0da-7dba43dc89b3",
      "name": "mock"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        240,
        1100
      ],
      "id": "4fec1479-4a50-4fa6-8282-6fea5631a25d",
      "name": "Google Gemini Chat Model2",
      "credentials": {
        "googlePalmApi": {
          "id": "W6dxZLFCXIkzEHfX",
          "name": "Google Gemini(PaLM) Api account 2"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Tóm tắt hồ sơ sau:\n{{ JSON.stringify($('mock').item.json) }}",
        "options": {
          "systemMessage": "=Bạn là chuyên gia tóm tắt thông tin từ hồ sơ y tế của người dùng\n\n<Nhiệm vụ>\n- Hãy tóm tắt ngắn gọn các thông tin từ hồ sơ bệnh án đuọc cung cấp\n- Các thông tin về hành chính chỉ lấy nam nữ và tuổi tác\n- Các thông tin tiền sử, bệnh sử, khám lâm sàng chỉ lấy những thông tin có liên quan đến lí do vào viện hoặc hỗ trỡ cho quá trình chẩn đoán của bác sĩ\n</Nhiệm vụ>\n\n<Ví dụ>\nTóm tắt bệnh án\nBệnh nhân năm 37 tuổi vào viện vì lý do đau bụng thương vị đã cầu phần đan ngày thứ 2. Qua hỏi bệnh sử, tiền sử và thăm khám ghi nhận các triệu chứng và hội chứng:\n- Triệu chứng cơ năng:\n  -Đau vùng thượng vi\n  -Đi cầu phân đen\n- Triệu chứng thực thể:\n  - Ấn đau vùng thương vì\n  - Murphy (-). Mcburney (-).\nTiền căn:\n- Thường xuyên uống rượu\n</Ví dụ>"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        -740,
        460
      ],
      "id": "f48a30ff-8e73-4b69-bf0d-7f7df69240e1",
      "name": "Summary agent",
      "disabled": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "477b575d-13eb-4b73-89f7-1ca5b7999bce",
              "name": "tóm tắt bệnh án",
              "value": "={{ $json.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        940,
        380
      ],
      "id": "29efc06f-ec98-4155-b9b4-72dd77cc73ed",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Tóm tắt thông tin dưới đây:\n{{ $json.combined_messages }}",
        "messages": {
          "messageValues": [
            {
              "message": "Bạn là chuyên gia trích xuất thông tin để lập hồ sơ y tế từ người dùng\n\n<Nhiệm vụ>\n- Hãy trích xuất các thông tin về lý do vào viện (lý do đến khám), tiền sử, bệnh sử trong đoạn trò chuyện cụ thể từ hệ thống\n- Chỉ trích xuất đúng thông tin được cung cấp, không tự sinh thêm\n- Những phần tiều sử, bệnh sử nào không có hoặc chưa thu thập, thì hãy điền vào không có hoặc chưa thu thập\n- Trả về đúng định dạng yêu cầu\n  </Nhiệm vụ>\n\n<Định dạng trả về>\n\n```json\n  \"lý do vào viện\": \"\",\n  \"tiền sử\": {\n    \"tiêu chí\": [\n      {\n        \"Tên\": \"\",\n        \"Nội dung\": \"\",\n        \"Nhận xét\": \"\"\n      },\n    ]\n  },\n  \"bệnh sử\": {\n    \"tiêu chí\": [\n      {\n        \"Tên\": \"\",\n        \"Nội dung\": \"\",\n        \"Nhận xét\": \"\"\n        },\n    ]\n  }\n```\n\n- Yêu cầu: bắt buộc trả về plain text json\n</Định dạng trả về>\n\n<Ví dụ định dạng trả về>\n\n```json\n{\n  \"lý do vào viện\": \"Hồi hộp trống ngực dữ dội, khó thở từng cơn\",\n  \"tiền sử\": {\n    \"tiêu chí\": [\n      {\n        \"Tên\": \"Tiền sử bệnh tật\",\n        \"Nội dung\": \"Nội khoa: Tăng huyết áp 10 năm, đái tháo đường type 2 - 5 năm. Đã từng có cơn hồi hộp tương tự nhưng tự hết. \\nNgoại khoa: Chưa ghi nhận.\",\n        \"Nhận xét\": \"\"\n      },\n      {\n        \"Tên\": \"Tiền sử dị ứng\",\n        \"Nội dung\": \"Chưa phát hiện tiền sử dị ứng thuốc hoặc thức ăn.\",\n        \"Nhận xét\": \"\"\n      },\n      {\n        \"Tên\": \"Thông tin khác\",\n        \"Nội dung\": \"Lối sống: Hút thuốc lá (đã bỏ 5 năm), uống rượu bia ít. Ít vận động.\",\n        \"Nhận xét\": \"\"\n      },\n      {\n        \"Tên\": \"B. Tiền sử gia đình\",\n        \"Nội dung\": \"Gia đình: Mẹ bị tăng huyết áp. Anh trai bị nhồi máu cơ tim.\",\n        \"Nhận xét\": \"\"\n      }\n    ]\n  },\n  \"bệnh sử\": {\n    \"tiêu chí\": [\n      {\n        \"Tên\": \"\",\n        \"Nội dung\": \"Cách nhập viện 3 ngày, bệnh nhân đột ngột cảm thấy hồi hộp, tim đập nhanh, mạnh như 'trống ngực', kèm khó thở nhẹ khi gắng sức.\",\n        \"Nhận xét\": \"\"\n        },\n    ]\n  }\n}\n```\n\n</Ví dụ định dạng trả về>\n"
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        300,
        -120
      ],
      "id": "3d065f01-28af-48c1-88e2-0dcdbaed431f",
      "name": "Dialogue retrieval llm"
    },
    {
      "parameters": {
        "formTitle": "Upload your data to test RAG",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Upload your file(s)",
              "fieldType": "file",
              "acceptFileTypes": ".pdf, .csv, .json",
              "requiredField": true
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.2,
      "position": [
        500,
        1100
      ],
      "id": "94d07f0b-e241-4acf-a647-01fef57530bb",
      "name": "Upload your file here",
      "webhookId": "82848bc4-5ea2-4e5a-8bb6-3c09b94a8c5d"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        700,
        1360
      ],
      "id": "27743fcb-826a-4f19-badb-009341c2621b",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "mode": "insert",
        "memoryKey": {
          "__rl": true,
          "value": "vector_store_key",
          "mode": "list",
          "cachedResultName": "vector_store_key"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreInMemory",
      "typeVersion": 1.2,
      "position": [
        720,
        1100
      ],
      "id": "ab0833fe-5df5-405c-8db1-961b0445c9a4",
      "name": "Insert Data to Store"
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolName": "knowledge_base",
        "toolDescription": "Sử dụng công cụ này để tìm hồ sơ bệnh án tương tự",
        "memoryKey": {
          "__rl": true,
          "mode": "list",
          "value": "vector_store_key"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreInMemory",
      "typeVersion": 1.2,
      "position": [
        1120,
        1100
      ],
      "id": "0b671387-f6f6-4acc-bec5-cfbcd824575a",
      "name": "Query Data Tool"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        740,
        1440
      ],
      "id": "802edbc7-e242-43bc-82e7-1bb8f0cbbf3b",
      "name": "Embeddings Google Gemini",
      "credentials": {
        "googlePalmApi": {
          "id": "W6dxZLFCXIkzEHfX",
          "name": "Google Gemini(PaLM) Api account 2"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Đưa ra chẩn đoán sơ bộ và biện luận dựa trên hồ sơ sau:\n{{ JSON.stringify($('mock1').item.json) }}",
        "options": {
          "systemMessage": "=Bạn là chuyên gia chẩn đoán và biện luận từ hồ sơ y tế của người dùng\n\n<Nhiệm vụ>\n- Bắt buộc sử dụng tool rag để tra cứu các hồ sơ liên quan \n- Đưa ra chẩn đoán sơ bộ, chẩn đoán phân biệt và đề nghị cận lâm sàng dựa trên hồ sơ được cung cấp và các hồ sơ liên quan\n</Nhiệm vụ>\n\n<Định dạng trả về>\n\n```json\n{\n  \"Chẩn đoán sơ bộ\": \"\",\n  \"Chẩn đoán phân biệt\": \"\",\n  \"Đề nghị cận lâm sàng\": \"\"\n}\n```\n\n- Yêu cầu: bắt buộc trả về plain text json\n</Định dạng trả về>\n\n<Ví dụ>\n```json\n{\n  \"Chẩn đoán sơ bộ\": \"- Xuất huyết tiêu hóa trên mức độ nhẹ, nghĩ do loét dạ dày - tá tràng. Hiện tại ổn chưa có biến chứng\",\n  \"Chẩn đoán phân biệt\": \"- Xuất huyết tiêu hóa trên do giãn tĩnh mạch thực quản\\n- Viêm loét dạ dày\\n- Viêm thực quản\\n- Rối loạn đông máu\\n- U dạ dày\\n- Các phân nhóm\",\n  \"Đề nghị cận lâm sàng\": \"- Công thức máu\\n- Sinh hóa máu: ure creatinin, AST, ALT, GGT\\n- GLUCOSE\\n- Điện giải đồ\\n- Nhóm máu\\n- Sinh hóa nước tiểu: creatinin, AST, ALT, GGT\\n- GLUCOSE máu\\n- Điện giải đồ\\n- H.P test\\n- Nội soi dạ dày thực quản tá tràng\\n- X-quang, đoạn tiêu\"\n}\n```\n</Ví dụ>\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        440,
        820
      ],
      "id": "cadce119-7cfe-427e-9c28-e44e3090a6c7",
      "name": "Diagnostic agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        300,
        60
      ],
      "id": "dab7d264-ebc5-47ce-9867-20f4b4a6ea40",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "W6dxZLFCXIkzEHfX",
          "name": "Google Gemini(PaLM) Api account 2"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        520,
        540
      ],
      "id": "2298f1d9-9ed6-4a8d-89bd-ecf0d9dcc77e",
      "name": "Google Gemini Chat Model1",
      "credentials": {
        "googlePalmApi": {
          "id": "W6dxZLFCXIkzEHfX",
          "name": "Google Gemini(PaLM) Api account 2"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        220,
        820
      ],
      "id": "56b44030-5b92-4daa-92c3-71a756a0e99a",
      "name": "mock1"
    },
    {
      "parameters": {
        "jsCode": "return JSON.parse($input.first().json.cleanedOutput);"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1000,
        820
      ],
      "id": "c3abb0ea-a749-4a3c-af85-7a3dc2de71d5",
      "name": "Parse JSON1"
    },
    {
      "parameters": {
        "jsCode": "// let output = $input.first().json.text; // Adjust based on your LLM output structure\nlet output = $input.first().json.output; // Adjust based on your LLM output structure\n\n// Remove Markdown code block wrappers\noutput = output.replace(/^```(?:json|markdown)?\\n?/, \"\").replace(/\\n?```$/, \"\");\n\n// Remove common LLM text prefixes\noutput = output.replace(/^(Here is the JSON:|Here is your Markdown document:)\\s*/, \"\");\n\nreturn [{ cleanedOutput: output }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        800,
        820
      ],
      "id": "cd386333-3143-4474-9900-24c66dca00fe",
      "name": "Filter md1"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        60,
        380
      ],
      "id": "a1d8b528-df36-4eb6-8319-0f0f05b3eff1",
      "name": "update kham-lam-sang & get ho-so",
      "credentials": {
        "postgres": {
          "id": "5i7jShWK4fXySSZZ",
          "name": "benh-an (phuc)"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1200,
        380
      ],
      "id": "07e24096-e6e4-4d4c-b93b-41b7108b0d9f",
      "name": "update tom-tat",
      "credentials": {
        "postgres": {
          "id": "5i7jShWK4fXySSZZ",
          "name": "benh-an (phuc)"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        0,
        820
      ],
      "id": "4fab9faf-3ddb-4c0c-a33d-0bd7c90ed1d5",
      "name": "update tom-tat & get ho-so",
      "credentials": {
        "postgres": {
          "id": "5i7jShWK4fXySSZZ",
          "name": "benh-an (phuc)"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1200,
        820
      ],
      "id": "30bd9991-2cca-4faf-a697-c8079360fbbd",
      "name": "update so-bo/phan-biet/lam-sang",
      "credentials": {
        "postgres": {
          "id": "5i7jShWK4fXySSZZ",
          "name": "benh-an (phuc)"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($('Parse JSON').item.json) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        1380,
        -120
      ],
      "id": "4e0adf11-1318-4cbd-b71d-d8d12bdde3ab",
      "name": "respone hanh-chinh/tien-su/benh-su"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT \n    session_id,\n    STRING_AGG(message::text, ' || ') AS combined_messages\nFROM \n    n8n_chat_histories_overalls\nWHERE \n    -- session_id = '{{ $json.id }}'\n    session_id = '0b7a651641f14202ba788d6461f1b069'\nGROUP BY \n    session_id;\n",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        60,
        -120
      ],
      "id": "709aae83-0bb4-46e3-9f39-5e91fbd27d7d",
      "name": "response hanh-chinh",
      "credentials": {
        "postgres": {
          "id": "5i7jShWK4fXySSZZ",
          "name": "benh-an (phuc)"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($('Edit Fields').item.json) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        1460,
        380
      ],
      "id": "10531403-e977-46cf-9283-6ff55f69be9d",
      "name": "response tom-tat"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($('Parse JSON1').item.json) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        1400,
        820
      ],
      "id": "3e3aa714-3fcf-446b-b186-42420098921e",
      "name": "response so-bo/phan-biet/lam-sang"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Tóm tắt hồ sơ sau:\n{{ JSON.stringify($('mock').item.json) }}",
        "messages": {
          "messageValues": [
            {
              "message": "Bạn là chuyên gia tóm tắt thông tin từ hồ sơ y tế của người dùng\n\n<Nhiệm vụ>\n- Hãy tóm tắt ngắn gọn các thông tin từ hồ sơ bệnh án đuọc cung cấp\n- Các thông tin về hành chính chỉ lấy nam nữ và tuổi tác\n- Các thông tin tiền sử, bệnh sử, khám lâm sàng chỉ lấy những thông tin có liên quan đến lí do vào viện hoặc hỗ trỡ cho quá trình chẩn đoán của bác sĩ\n</Nhiệm vụ>\n\n<Ví dụ>\nTóm tắt bệnh án\nBệnh nhân năm 37 tuổi vào viện vì lý do đau bụng thương vị đã cầu phần đan ngày thứ 2. Qua hỏi bệnh sử, tiền sử và thăm khám ghi nhận các triệu chứng và hội chứng:\n- Triệu chứng cơ năng:\n  -Đau vùng thượng vi\n  -Đi cầu phân đen\n- Triệu chứng thực thể:\n  - Ấn đau vùng thương vì\n  - Murphy (-). Mcburney (-).\nTiền căn:\n- Thường xuyên uống rượu\n</Ví dụ>"
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        520,
        380
      ],
      "id": "7ac09122-1276-402b-96ff-04fbbb85cf9e",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "content": "## Tóm tắt tiền sử - bệnh sử",
        "height": 520,
        "width": 1680,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -20,
        -300
      ],
      "typeVersion": 1,
      "id": "99e55807-1ab8-40f9-94a3-f8f2ba923c63",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "height": 400,
        "width": 1700
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -20,
        300
      ],
      "typeVersion": 1,
      "id": "70c0e960-c7d8-4f40-8774-2cc0d4a36f29",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "jsCode": "const uuid = require('uuid');\n\nconst data = $input.first().json;\ndata['tiền sử']['tiêu chí'].forEach(item => {\n  item.id = uuid.v4();\n});\n\nreturn [{ json: data }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1140,
        -120
      ],
      "id": "a85e211e-16ac-4697-bea3-34ad9556e8ce",
      "name": "create uuid"
    },
    {
      "parameters": {
        "content": "## Dùng code để thực hiện trích xuất tin nhắn -> giảm token và tăng hiệu quả",
        "height": 440,
        "width": 320
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        240,
        -240
      ],
      "typeVersion": 1,
      "id": "ce06e140-2fca-41c0-84cd-f8ee44a4f770",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "httpMethod": "PUT",
        "path": ":variable",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -700,
        200
      ],
      "id": "14c5273b-cd2a-4968-b04e-04c3d02b4e88",
      "name": "Webhook",
      "webhookId": "b9a42937-27f5-4637-bd43-d5129c2cc99f"
    }
  ],
  "pinData": {
    "mock": [
      {
        "json": {
          "hành chính": {
            "Họ tên": "Ngô Doãn Hải",
            "Ngày sinh": "02/04/1988",
            "Giới tính": "nam",
            "Địa chỉ": "Thọ xuân-Thanh Hoá",
            "Ngày giờ vào viện": "05/01/2025 08:00",
            "Ngày giờ vào khoa": "05/01/2025 12:00"
          },
          "lý do vào viện": {
            "Ngày nhập liệu": "05/01/2025 12:00",
            "Tiêu chí": [
              {
                "Tên": "Nội dung",
                "Nội dung": "Đau thượng vị, đi cầu phân đen",
                "Nhận xét": ""
              }
            ]
          },
          "tiền sử": {
            "Ngày nhập liệu": "",
            "Tiêu chí": [
              {
                "Tên": "Tiền sử bệnh tật",
                "Nội dung": "Nội khoa: \n Xuất huyết tiêu hoá trên da do loét dạ dày-tá tràng vào tháng 11 năm 2024 đã điều trị (chưa test vi khuẩn Hp)\n Ngoài ra chưa ghi nhận tiền sử nội khoa liên quan khác\n Ngoại khoa: chưa ghi nhận tiền sử ngoại khoa",
                "Nhận xét": ""
              },
              {
                "Tên": "Tiền sử dị ứng",
                "Nội dung": "Chưa phát hiện tiền sử tác nhân dị ứng trước đây",
                "Nhận xét": ""
              },
              {
                "Tên": "Thông tin khác",
                "Nội dung": "Lối sống\n Hút thuốc lá 9.5 gói, năm\n uống rượu thường xuyên: 200ml",
                "Nhận xét": ""
              },
              {
                "Tên": "B. Tiền sử gia đình",
                "Nội dung": "Gia đình\n Chưa ghi nhận bệnh lý liên quan",
                "Nhận xét": ""
              }
            ]
          },
          "bệnh sử": {
            "Ngày nhập liệu": "",
            "Tiêu chí": [
              {
                "Tên": "Nội dung",
                "Nội dung": "Cách nhập viện 2 ngày bệnh nhân dạng uống rượu thì xuất hiện cơn đau bụng âm vùng thượng vị, đau liên tục, không lan, không có tư thế giảm đau, không nôn ói. Bệnh nhân không ăn tiết canh, lòng heo hoặc thực ổn màu đỏ. Sau đó về nhà bệnh nhân có đi cầu phân đen 4 lần mùi khắm, sệt không thành khuôn, bệnh nhân ăn uống kém. Tiểu tiện bình thường. Trước đó bệnh nhân không sử dụng sắt than hoạt, không táo bón.\n Cách nhập viện 1 ngày tình trạng bệnh nhân không thuyên giảm, tiếp tục đã cầu phân đen nên vào viện\n Trong quá trình bệnh, bệnh nhân không buồn nôn, không chóng một, không sốt, không vã mồ hôi, không đau ngực và không khó thở\n Ghi nhận tại cấp cứu\n Bệnh tỉnh tiếp xúc được\n Da niêm nhợt nhạt\n Đau thượng vị\n Không có đầu xuất huyết dưới da\n Tuyến giáp không to, hạch ngoại vì không sờ chạm\n Mạch:72 lần/phút\n Nhiệt: 37 độ C\n Huyết áp: 119/69\n Nhịp thở: 16 lần/phút\n Spo2: 98%\n Cân nặng: 57 kg\n Chiều cao 1m72\n Bmi: 18.8",
                "Nhận xét": ""
              }
            ]
          },
          "khám lâm sàng": {
            "Ngày nhập liệu": "17/01/2018 09:20",
            "Tiêu chí": [
              {
                "Tên": "Khám toàn thân",
                "Nội dung": "- Tình trạng:\n  - Bệnh tỉnh, tiếp xúc tốt\n  - Da, niêm mạc hồng hào\n  - Huyết áp tư thế: không thay đổi\n  - Không có dấu xuất huyết dưới da\n  - Tuyến giáp không to, hạch ngoại vi không sờ chạm\n  - Mạch: 65 lần/phút\n  - Nhiệt: 37 độ C\n  - Huyết áp: 100/60 mmHg\n  - Nhịp thở: 20 lần/phút\n  - SpO2: 98%\n  - Cân nặng: 57 kg\n  - Chiều cao: 1m72\n  - BMI: 18.8 kg/m2",
                "Nhận xét": ""
              },
              {
                "Tên": "Khám tuần hoàn",
                "Nội dung": "- Lồng ngực không dị dạng, không sẹo, di động đều theo nhịp thở\n- Tĩnh mạch cổ nổi (-)\n- Không có âm rung miu, dấu Harzer (-)\n- Mỏm tim: liên sườn IV đường trung đòn trái, điện đập bình thường\n- Tiếng T1 T2 rõ, đều, không có âm bất thường.",
                "Nhận xét": ""
              },
              {
                "Tên": "Khám hô hấp",
                "Nội dung": "- Lồng ngực cân đối, di động theo nhịp thở, không co kéo, không rút lõm\n- Rung thanh đều 2 bên\n- Rì rào phế nang đều, 2 phổi rõ\n- Không rale ẩm, rale nổ\n- Không nghe tiếng tim bệnh lý",
                "Nhận xét": ""
              },
              {
                "Tên": "Khám tiêu hóa",
                "Nội dung": "- Bụng di động theo nhịp thở, không co cứng, không đề kháng, không có dấu hiệu xuất huyết dưới da\n- Không có dấu hiệu rắn bò\n- Phản ứng thành bụng (-), không có điểm đau, ấn đau Murphy (-), McBurney (-)\n- Bụng mềm, không chướng, không có khối bất thường\n- Nhu động ruột: 2 lần/phút",
                "Nhận xét": "Thăm trực tràng: (-)"
              },
              {
                "Tên": "Khám thận - tiết niệu",
                "Nội dung": "- Không chạm thận, đau hông ranh thân âm tính\n- Ấn đau điểm niệu quản (-)\n- Tiểu không ra máu, không tiểu đục",
                "Nhận xét": ""
              },
              {
                "Tên": "Khám thần kinh",
                "Nội dung": "- Cảm giác, vận động, cơ đều bình thường\n- Dáng vẻ tỉnh táo",
                "Nhận xét": ""
              },
              {
                "Tên": "Khám cơ xương khớp",
                "Nội dung": "- Không biến dạng xương, vận động tốt\n- Cơ lực: 5/5\n- Cảm giác: bình thường",
                "Nhận xét": ""
              },
              {
                "Tên": "Khám các cơ quan khác",
                "Nội dung": "- Chưa ghi nhận bất thường",
                "Nhận xét": ""
              }
            ]
          }
        }
      }
    ],
    "mock1": [
      {
        "json": {
          "hành chính": {
            "Họ tên": "Ngô Doãn Hải",
            "Ngày sinh": "02/04/1988",
            "Giới tính": "nam",
            "Địa chỉ": "Thọ xuân-Thanh Hoá",
            "Ngày giờ vào viện": "05/01/2025 08:00",
            "Ngày giờ vào khoa": "05/01/2025 12:00"
          },
          "lý do vào viện": {
            "Ngày nhập liệu": "05/01/2025 12:00",
            "Tiêu chí": [
              {
                "Tên": "Nội dung",
                "Nội dung": "Đau thượng vị, đi cầu phân đen",
                "Nhận xét": ""
              }
            ]
          },
          "tiền sử": {
            "Ngày nhập liệu": "",
            "Tiêu chí": [
              {
                "Tên": "Tiền sử bệnh tật",
                "Nội dung": "Nội khoa: \n Xuất huyết tiêu hoá trên da do loét dạ dày-tá tràng vào tháng 11 năm 2024 đã điều trị (chưa test vi khuẩn Hp)\n Ngoài ra chưa ghi nhận tiền sử nội khoa liên quan khác\n Ngoại khoa: chưa ghi nhận tiền sử ngoại khoa",
                "Nhận xét": ""
              },
              {
                "Tên": "Tiền sử dị ứng",
                "Nội dung": "Chưa phát hiện tiền sử tác nhân dị ứng trước đây",
                "Nhận xét": ""
              },
              {
                "Tên": "Thông tin khác",
                "Nội dung": "Lối sống\n Hút thuốc lá 9.5 gói, năm\n uống rượu thường xuyên: 200ml",
                "Nhận xét": ""
              },
              {
                "Tên": "B. Tiền sử gia đình",
                "Nội dung": "Gia đình\n Chưa ghi nhận bệnh lý liên quan",
                "Nhận xét": ""
              }
            ]
          },
          "bệnh sử": {
            "Ngày nhập liệu": "",
            "Tiêu chí": [
              {
                "Tên": "Nội dung",
                "Nội dung": "Cách nhập viện 2 ngày bệnh nhân dạng uống rượu thì xuất hiện cơn đau bụng âm vùng thượng vị, đau liên tục, không lan, không có tư thế giảm đau, không nôn ói. Bệnh nhân không ăn tiết canh, lòng heo hoặc thực ổn màu đỏ. Sau đó về nhà bệnh nhân có đi cầu phân đen 4 lần mùi khắm, sệt không thành khuôn, bệnh nhân ăn uống kém. Tiểu tiện bình thường. Trước đó bệnh nhân không sử dụng sắt than hoạt, không táo bón.\n Cách nhập viện 1 ngày tình trạng bệnh nhân không thuyên giảm, tiếp tục đã cầu phân đen nên vào viện\n Trong quá trình bệnh, bệnh nhân không buồn nôn, không chóng một, không sốt, không vã mồ hôi, không đau ngực và không khó thở\n Ghi nhận tại cấp cứu\n Bệnh tỉnh tiếp xúc được\n Da niêm nhợt nhạt\n Đau thượng vị\n Không có đầu xuất huyết dưới da\n Tuyến giáp không to, hạch ngoại vì không sờ chạm\n Mạch:72 lần/phút\n Nhiệt: 37 độ C\n Huyết áp: 119/69\n Nhịp thở: 16 lần/phút\n Spo2: 98%\n Cân nặng: 57 kg\n Chiều cao 1m72\n Bmi: 18.8",
                "Nhận xét": ""
              }
            ]
          },
          "khám lâm sàng": {
            "Ngày nhập liệu": "17/01/2018 09:20",
            "Tiêu chí": [
              {
                "Tên": "Khám toàn thân",
                "Nội dung": "- Tình trạng:\n  - Bệnh tỉnh, tiếp xúc tốt\n  - Da, niêm mạc hồng hào\n  - Huyết áp tư thế: không thay đổi\n  - Không có dấu xuất huyết dưới da\n  - Tuyến giáp không to, hạch ngoại vi không sờ chạm\n  - Mạch: 65 lần/phút\n  - Nhiệt: 37 độ C\n  - Huyết áp: 100/60 mmHg\n  - Nhịp thở: 20 lần/phút\n  - SpO2: 98%\n  - Cân nặng: 57 kg\n  - Chiều cao: 1m72\n  - BMI: 18.8 kg/m2",
                "Nhận xét": ""
              },
              {
                "Tên": "Khám tuần hoàn",
                "Nội dung": "- Lồng ngực không dị dạng, không sẹo, di động đều theo nhịp thở\n- Tĩnh mạch cổ nổi (-)\n- Không có âm rung miu, dấu Harzer (-)\n- Mỏm tim: liên sườn IV đường trung đòn trái, điện đập bình thường\n- Tiếng T1 T2 rõ, đều, không có âm bất thường.",
                "Nhận xét": ""
              },
              {
                "Tên": "Khám hô hấp",
                "Nội dung": "- Lồng ngực cân đối, di động theo nhịp thở, không co kéo, không rút lõm\n- Rung thanh đều 2 bên\n- Rì rào phế nang đều, 2 phổi rõ\n- Không rale ẩm, rale nổ\n- Không nghe tiếng tim bệnh lý",
                "Nhận xét": ""
              },
              {
                "Tên": "Khám tiêu hóa",
                "Nội dung": "- Bụng di động theo nhịp thở, không co cứng, không đề kháng, không có dấu hiệu xuất huyết dưới da\n- Không có dấu hiệu rắn bò\n- Phản ứng thành bụng (-), không có điểm đau, ấn đau Murphy (-), McBurney (-)\n- Bụng mềm, không chướng, không có khối bất thường\n- Nhu động ruột: 2 lần/phút",
                "Nhận xét": "Thăm trực tràng: (-)"
              },
              {
                "Tên": "Khám thận - tiết niệu",
                "Nội dung": "- Không chạm thận, đau hông ranh thân âm tính\n- Ấn đau điểm niệu quản (-)\n- Tiểu không ra máu, không tiểu đục",
                "Nhận xét": ""
              },
              {
                "Tên": "Khám thần kinh",
                "Nội dung": "- Cảm giác, vận động, cơ đều bình thường\n- Dáng vẻ tỉnh táo",
                "Nhận xét": ""
              },
              {
                "Tên": "Khám cơ xương khớp",
                "Nội dung": "- Không biến dạng xương, vận động tốt\n- Cơ lực: 5/5\n- Cảm giác: bình thường",
                "Nhận xét": ""
              },
              {
                "Tên": "Khám các cơ quan khác",
                "Nội dung": "- Chưa ghi nhận bất thường",
                "Nhận xét": ""
              }
            ]
          },
          "tóm tắt bệnh án": "Tóm tắt bệnh án\nBệnh nhân nam 37 tuổi vào viện vì lý do đau thượng vị và đi cầu phân đen. Qua hỏi bệnh sử, tiền sử và thăm khám ghi nhận các triệu chứng và hội chứng:\n- Triệu chứng cơ năng:\n  - Đau vùng thượng vị\n  - Đi cầu phân đen\n- Triệu chứng thực thể:\n  - Da niêm nhợt nhạt (ghi nhận tại cấp cứu)\n  - Huyết áp: 100/60 mmHg\n  - Bụng mềm, không chướng, không đề kháng, không có điểm đau.\n  - Nhu động ruột: 2 lần/phút\nTiền căn:\n- Tiền sử xuất huyết tiêu hóa trên do loét dạ dày-tá tràng (tháng 11/2024).\n- Thường xuyên hút thuốc lá và uống rượu."
        }
      }
    ]
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-07-13T14:30:36.000Z",
  "versionId": "70cb145d-2cb6-4578-a63e-2cbc3860b41c"
}