workflows/HjCFYjA7SBaMZJrt.json
{
  "active": false,
  "connections": {
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Orchestrator Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Orchestrator Agent": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Expert Agent": {
      "ai_tool": [
        [
          {
            "node": "Orchestrator Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Info RAG",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Reranker Cohere": {
      "ai_reranker": [
        [
          {
            "node": "Info RAG",
            "type": "ai_reranker",
            "index": 0
          }
        ]
      ]
    },
    "Info Search": {
      "ai_tool": [
        [
          {
            "node": "Orchestrator Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Info RAG": {
      "ai_tool": [
        [
          {
            "node": "Orchestrator Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ],
      "main": [
        []
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "Orchestrator Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "Orchestrator Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Info Search1": {
      "ai_tool": [
        [
          {
            "node": "Orchestrator Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-06-28T05:46:26.689Z",
  "id": "HjCFYjA7SBaMZJrt",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "MedAgent",
  "nodes": [
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "68e06fc2-b450-4930-988a-721053699ad5",
              "name": "output",
              "value": "={{ $json.output }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        900,
        20
      ],
      "id": "c704770a-b06f-4c5f-8c00-5d77f5dba012",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        260,
        180
      ],
      "id": "74ab3187-4660-47fb-9c9c-c650f76b0211",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "9ZxscvXhCvmqIzFG",
          "name": "Google Gemini(PaLM) Api account 5"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "=Bạn là một AI Agent y tế của **Bệnh Viện Đại học Y khoa Phan Châu Trinh** chuyên gọi Tool bằng cách phân tích ngữ cảnh của cuộc hội thoại để hỗ trợ người dùng, output khi gọi Tool sẽ có dạng: {Tool: []}\n- Nếu có output từ Tool \"Expert_Agent\" có chứa trường \"expert\": <phản hồi từ tool chuyên gia> thì lấy giá trị của \"expert\" trả cho người dùng và không nói gì thêm.\n- Nếu có output từ Tool call từ \"Info_RAG\"  có context không đúng hoặc không có context thì gọi \"Info_Search1\", nếu cả 2 không có context phù hợp thì trả \"Tôi không có thông tin này\".\n- Nếu không có Tool thì sẽ trả lời bình thường\n",
          "returnIntermediateSteps": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        480,
        20
      ],
      "id": "bc0d1f13-9847-47e8-b3ea-55e8e4e10ba0",
      "name": "Orchestrator Agent"
    },
    {
      "parameters": {
        "description": "Tool agent bác sĩ tổng quát để thăm khám.",
        "workflowId": {
          "__rl": true,
          "value": "0d1oeIFPeVCRvnuN",
          "mode": "list",
          "cachedResultName": "MedAgent-Expert"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "sessionId": "={{$json.sessionId}}",
            "chatInput": "={{$json.chatInput}}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "chatInput",
              "displayName": "chatInput",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "sessionId",
              "displayName": "sessionId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        1060,
        300
      ],
      "id": "d7e27771-5cf1-4cf0-be56-2d040f89c8e9",
      "name": "Expert Agent",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        520,
        440
      ],
      "id": "edb0c76b-6db4-4caf-b3f3-46f6b188f50d",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "oKPYEmR3sGNJdsZT",
          "name": "OpenAi account 4"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.rerankerCohere",
      "typeVersion": 1,
      "position": [
        660,
        440
      ],
      "id": "485efefc-b430-4488-83ef-d994bcd80987",
      "name": "Reranker Cohere",
      "credentials": {
        "cohereApi": {
          "id": "dgIm4tm2TKQFqa98",
          "name": "CohereApi account 3"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Công cụ chuyên tìm kiếm thông tin Bệnh Viện Đại học Y khoa Phan Châu Trinh khi truy vấn \"Info_RAG\" thất bại\n",
        "operation": "executeTool",
        "toolName": "search",
        "toolParameters": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Tool_Parameters', `query có dạng json như sau:\n{\n\"query\": <query được generate từ input của người dùng dưới dạng: keyword tìm kiếm + \"Bệnh Viện Đại học Y khoa Phan Châu Trinh\">\n}`, 'json') }}"
      },
      "type": "n8n-nodes-mcp.mcpClientTool",
      "typeVersion": 1,
      "position": [
        960,
        360
      ],
      "id": "29b5391c-9189-4989-b30e-f110412f1d6e",
      "name": "Info Search",
      "credentials": {
        "mcpClientApi": {
          "id": "iCaXl7QBEZgfSweR",
          "name": "MCP Client (STDIO) account 2"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "=- Công cụ chuyên truy vấn thông tin bệnh viện y khoa Phan Châu Trinh",
        "tableName": "documents_pg",
        "topK": 5,
        "includeDocumentMetadata": false,
        "useReranker": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePGVector",
      "typeVersion": 1.3,
      "position": [
        560,
        300
      ],
      "id": "016b7ae9-cbd7-42db-9fca-c4cd5c8a8bdc",
      "name": "Info RAG",
      "alwaysOutputData": false,
      "credentials": {
        "postgres": {
          "id": "9sFxVN20egMoKcpX",
          "name": "Postgres account 3"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "contextWindowLength": 20
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        440,
        240
      ],
      "id": "1a1ecd4f-4640-4c38-8896-130b42c8d0f0",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        -360,
        20
      ],
      "id": "21e90a4b-301e-4e57-a597-7ec68d9cd058",
      "name": "When chat message received",
      "webhookId": "dcf42218-fea4-4cf7-b54e-582673b1c51b"
    },
    {
      "parameters": {
        "description": "Công cụ chuyên tìm kiếm thông tin Bệnh Viện Đại học Y khoa Phan Châu Trinh khi truy vấn \"Info_RAG\" thất bại\n- Input có dạng:\n{\n\"query\": <query được generate từ input của người dùng dưới dạng: keyword tìm kiếm + 'Bệnh Viện Đại học Y khoa Phan Châu Trinh'>\n}\n",
        "workflowId": {
          "__rl": true,
          "value": "SqiCIpxsFelhfCA9",
          "mode": "list",
          "cachedResultName": "Info Search"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "query": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('query', ``, 'string') }}"
          },
          "matchingColumns": [
            "query"
          ],
          "schema": [
            {
              "id": "query",
              "displayName": "query",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        840,
        400
      ],
      "id": "60204fd4-b13f-42f8-8eb0-7df425743677",
      "name": "Info Search1"
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-07-13T15:15:33.000Z",
  "versionId": "1a6332aa-69f3-4a10-a5de-5fb3e9281776"
}