workflows/jLSqsQbaPpoUN8RQ.json
{
  "active": false,
  "connections": {
    "On form submission": {
      "main": [
        []
      ]
    },
    "Execute a SQL query": {
      "main": [
        [
          {
            "node": "Tom Tat",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Tom Tat",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "Tom Tat",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Tom Tat": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Execute a SQL query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        []
      ]
    }
  },
  "createdAt": "2025-07-08T08:27:01.826Z",
  "id": "jLSqsQbaPpoUN8RQ",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "TomTat copy",
  "nodes": [
    {
      "parameters": {
        "formTitle": "Tóm tắt chat",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Id",
              "placeholder": "điền id se",
              "requiredField": true
            }
          ]
        },
        "options": {},
        "path": "facbdc7b-7629-4d6d-abe1-1a7da1644771"
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.2,
      "position": [
        60,
        0
      ],
      "id": "eb9a9073-083a-4d32-863d-2abd67dbc74a",
      "name": "On form submission",
      "webhookId": "facbdc7b-7629-4d6d-abe1-1a7da1644771",
      "disabled": true
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT \n    session_id,\n    STRING_AGG(message::text, ' || ') AS combined_messages\nFROM \n    n8n_chat_histories_overalls\nWHERE \n    session_id = '0b7a651641f14202ba788d6461f1b069'\nGROUP BY \n    session_id;\n\n\n",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        460,
        0
      ],
      "id": "5cda2023-d3be-44d7-a321-f7dc628a8855",
      "name": "Execute a SQL query",
      "credentials": {
        "postgres": {
          "id": "6iHsrxijv8bMwpA3",
          "name": "Postgres account 4"
        }
      }
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.5-flash",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        620,
        200
      ],
      "id": "88b539d5-68e4-4282-8ffe-d558b8769603",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "7fhytiSkpwvm2Ghp",
          "name": "Google Gemini(PaLM) Api account 4"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.session_id }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        780,
        200
      ],
      "id": "6d3330c6-8f2f-42a8-a230-44c90ba0c725",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.combined_messages }}",
        "options": {
          "systemMessage": "=Bạn là một trợ lý AI có nhiệm vụ trích xuất và tổng hợp thông tin quan trọng từ một đoạn hội thoại y tế giữa người dùng và hệ thống.\nHãy đọc đoạn hội thoại sau và thực hiện các yêu cầu sau:\nTrích xuất các thông tin quan trọng theo định dạng json sau (mỗi định dạng là 1 đoạn ngắn gọn):\n{\n \"ly_do_kham_benh\": <lý do khám bệnh>,\n  \"tien_su\": <tiền sử bệnh>,\n  \"benh_su\": <bệnh sử của bệnh nhân>\n}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        660,
        0
      ],
      "id": "36a55f11-b5d7-465f-9243-4a450e3cb450",
      "name": "Tom Tat"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        280,
        0
      ],
      "id": "28f81bdc-efd1-4611-9558-7a56e5a889c7",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "bbfa23ff-20fb-4d76-8a02-53475dc3f4cb",
              "name": "output",
              "value": "={{$json.output.replace(/```json|```/g, '').parseJson()}}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1000,
        80
      ],
      "id": "7ff05588-1b56-493a-ab02-655f15ccccd2",
      "name": "Edit Fields"
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-07-08T08:27:01.826Z",
  "versionId": "29de1432-2c97-436f-84f8-82d80e79973d"
}