workflows/LEIJbP1J4AOnl5pi.json
{
  "active": true,
  "connections": {
    "AI Agent": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "HTML",
            "type": "main",
            "index": 0
          },
          {
            "node": "Form",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Form": {
      "main": [
        []
      ]
    },
    "Parse JSON": {
      "main": [
        [
          {
            "node": "hanh-chinh respone",
            "type": "main",
            "index": 0
          },
          {
            "node": "Insert rows in a table",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter md": {
      "main": [
        [
          {
            "node": "Parse JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Filter md",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute a SQL query": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "On form submission": {
      "main": [
        []
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "hello",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Execute a SQL query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "hello": {
      "main": [
        []
      ]
    },
    "hanh-chinh respone": {
      "main": [
        []
      ]
    }
  },
  "createdAt": "2025-07-10T02:30:54.048Z",
  "id": "LEIJbP1J4AOnl5pi",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "doc_pipeline",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.form",
      "typeVersion": 1,
      "position": [
        760,
        -160
      ],
      "id": "5410197b-dcac-423b-a4db-01a1a13e94d6",
      "name": "Form",
      "webhookId": "584fcfcc-9ef7-4252-a5ab-f1125b7ee629",
      "disabled": true
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "=Bạn là chuyên gia trích xuất thông tin để lập hồ sơ y tế từ người dùng\n\n<Nhiệm vụ>\n\n- Hãy trích xuất các thông tin về lý do vào viện (lý do đến khám), tiền sử, bệnh sử trong đoạn trò chuyện cụ thể từ hệ thống\n- Chỉ trích xuất đúng thông tin được cung cấp, không tự sinh thêm\n- Trả về đúng định dạng yêu cầu\n  </Nhiệm vụ>\n\n<Định dạng trả về>\n\n```json\n  \"lý do vào viện\": \"\",\n  \"tiền sử\": {\n    \"tiêu chí\": [\n      {\n        \"Tên\": \"\",\n        \"Nội dung\": \"\",\n        \"Nhận xét\": \"\"\n      },\n    ]\n  },\n  \"bệnh sử\": {\n    \"tiêu chí\": [\n      {\n        \"Tên\": \"\",\n        \"Nội dung\": \"\",\n        \"Nhận xét\": \"\"\n        },\n    ]\n  }\n```\n\n- Yêu cầu: bắt buộc trả về plain text json\n  </Định dạng trả về>\n\n<Ví dụ định dạng trả về>\n\n```json\n{\n  \"lý do vào viện\": \"Hồi hộp trống ngực dữ dội, khó thở từng cơn\",\n  \"tiền sử\": {\n    \"tiêu chí\": [\n      {\n        \"Tên\": \"Tiền sử bệnh tật\",\n        \"Nội dung\": \"Nội khoa: Tăng huyết áp 10 năm, đái tháo đường type 2 - 5 năm. Đã từng có cơn hồi hộp tương tự nhưng tự hết. \\nNgoại khoa: Chưa ghi nhận.\",\n        \"Nhận xét\": \"\"\n      },\n      {\n        \"Tên\": \"Tiền sử dị ứng\",\n        \"Nội dung\": \"Chưa phát hiện tiền sử dị ứng thuốc hoặc thức ăn.\",\n        \"Nhận xét\": \"\"\n      },\n      {\n        \"Tên\": \"Thông tin khác\",\n        \"Nội dung\": \"Lối sống: Hút thuốc lá (đã bỏ 5 năm), uống rượu bia ít. Ít vận động.\",\n        \"Nhận xét\": \"\"\n      },\n      {\n        \"Tên\": \"B. Tiền sử gia đình\",\n        \"Nội dung\": \"Gia đình: Mẹ bị tăng huyết áp. Anh trai bị nhồi máu cơ tim.\",\n        \"Nhận xét\": \"\"\n      }\n    ]\n  },\n  \"bệnh sử\": \"Cách nhập viện 3 ngày, bệnh nhân đột ngột cảm thấy hồi hộp, tim đập nhanh, mạnh như 'trống ngực', kèm khó thở nhẹ khi gắng sức.\"\n}\n```\n\n</Ví dụ định dạng trả về>\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        80,
        -400
      ],
      "id": "a2da5dea-554e-405f-84f9-4e287bd32035",
      "name": "AI Agent",
      "disabled": true
    },
    {
      "parameters": {
        "jsCode": "// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nfor (const item of $input.all()) {\n  item.json.myNewField = 1;\n}\n\nreturn $input.all();"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        420,
        -400
      ],
      "id": "aeee9b80-139d-43e5-9dc4-ab58aa262486",
      "name": "Code",
      "disabled": true
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.html",
      "typeVersion": 1.2,
      "position": [
        760,
        -500
      ],
      "id": "efe64933-4506-4a97-879a-79d3d593b698",
      "name": "HTML",
      "disabled": true
    },
    {
      "parameters": {
        "jsCode": "return JSON.parse($input.first().json.cleanedOutput);"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        400,
        600
      ],
      "id": "46e74028-3780-4580-b8cb-5370afc427d8",
      "name": "Parse JSON"
    },
    {
      "parameters": {
        "jsCode": "let output = $input.first().json.text; // Adjust based on your LLM output structure\n\n// Remove Markdown code block wrappers\noutput = output.replace(/^```(?:json|markdown)?\\n?/, \"\").replace(/\\n?```$/, \"\");\n\n// Remove common LLM text prefixes\noutput = output.replace(/^(Here is the JSON:|Here is your Markdown document:)\\s*/, \"\");\n\nreturn [{ cleanedOutput: output }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        100,
        600
      ],
      "id": "2c6bbb68-3c0c-4c66-8aa6-f7a035fbcc2a",
      "name": "Filter md"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Hãy trích xuất đoạn diaglouge sau:\n{{ $json.combined_messages }}",
        "messages": {
          "messageValues": [
            {
              "message": "Bạn là chuyên gia trích xuất thông tin để lập hồ sơ y tế từ người dùng\n\n<Nhiệm vụ>\n- Hãy trích xuất các thông tin về lý do vào viện (lý do đến khám), tiền sử, bệnh sử trong đoạn trò chuyện cụ thể từ hệ thống\n- Chỉ trích xuất đúng thông tin được cung cấp, không tự sinh thêm\n- Những phần tiều sử, bệnh sử nào không có hoặc chưa thu thập, thì hãy điền vào không có hoặc chưa thu thập\n- Trả về đúng định dạng yêu cầu\n  </Nhiệm vụ>\n\n<Định dạng trả về>\n\n```json\n  \"lý do vào viện\": \"\",\n  \"tiền sử\": {\n    \"tiêu chí\": [\n      {\n        \"Tên\": \"\",\n        \"Nội dung\": \"\",\n        \"Nhận xét\": \"\"\n      },\n    ]\n  },\n  \"bệnh sử\": {\n    \"tiêu chí\": [\n      {\n        \"Tên\": \"\",\n        \"Nội dung\": \"\",\n        \"Nhận xét\": \"\"\n        },\n    ]\n  }\n```\n\n- Yêu cầu: bắt buộc trả về plain text json\n  </Định dạng trả về>\n\n<Ví dụ định dạng trả về>\n\n```json\n{\n  \"lý do vào viện\": \"Hồi hộp trống ngực dữ dội, khó thở từng cơn\",\n  \"tiền sử\": {\n    \"tiêu chí\": [\n      {\n        \"Tên\": \"Tiền sử bệnh tật\",\n        \"Nội dung\": \"Nội khoa: Tăng huyết áp 10 năm, đái tháo đường type 2 - 5 năm. Đã từng có cơn hồi hộp tương tự nhưng tự hết. \\nNgoại khoa: Chưa ghi nhận.\",\n        \"Nhận xét\": \"\"\n      },\n      {\n        \"Tên\": \"Tiền sử dị ứng\",\n        \"Nội dung\": \"Chưa phát hiện tiền sử dị ứng thuốc hoặc thức ăn.\",\n        \"Nhận xét\": \"\"\n      },\n      {\n        \"Tên\": \"Thông tin khác\",\n        \"Nội dung\": \"Lối sống: Hút thuốc lá (đã bỏ 5 năm), uống rượu bia ít. Ít vận động.\",\n        \"Nhận xét\": \"\"\n      },\n      {\n        \"Tên\": \"B. Tiền sử gia đình\",\n        \"Nội dung\": \"Gia đình: Mẹ bị tăng huyết áp. Anh trai bị nhồi máu cơ tim.\",\n        \"Nhận xét\": \"\"\n      }\n    ]\n  },\n  \"bệnh sử\": \"Cách nhập viện 3 ngày, bệnh nhân đột ngột cảm thấy hồi hộp, tim đập nhanh, mạnh như 'trống ngực', kèm khó thở nhẹ khi gắng sức.\"\n}\n```\n\n</Ví dụ định dạng trả về>\n"
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        -260,
        560
      ],
      "id": "d7a10203-3be8-45c0-be8c-680f556f99c0",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT \n    session_id,\n    STRING_AGG(message::text, ' || ') AS combined_messages\nFROM \n    n8n_chat_histories_overalls\nWHERE \n    -- session_id = '{{ $json.id }}'\n    session_id = '0b7a651641f14202ba788d6461f1b069'\nGROUP BY \n    session_id;\n",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -560,
        560
      ],
      "id": "1d5a6b24-6ac6-4c14-ae4c-626f5d580e31",
      "name": "Execute a SQL query",
      "credentials": {
        "postgres": {
          "id": "5i7jShWK4fXySSZZ",
          "name": "Postgres account 2"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -320,
        880
      ],
      "id": "d75305c0-fd3d-4fcb-b1b2-044d37eef47e",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "W6dxZLFCXIkzEHfX",
          "name": "Google Gemini(PaLM) Api account 2"
        }
      }
    },
    {
      "parameters": {
        "formTitle": "Hành chính",
        "formFields": {
          "values": [
            {
              "fieldLabel": "id",
              "requiredField": true
            },
            {
              "fieldLabel": "Họ tên"
            },
            {
              "fieldLabel": "Ngày sinh"
            },
            {
              "fieldLabel": "Giới tính"
            },
            {
              "fieldLabel": "Địa chỉ"
            },
            {
              "fieldLabel": "Ngày giờ vào viện"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.2,
      "position": [
        80,
        -580
      ],
      "id": "6837f8a4-5d7f-4718-b16f-65d36d45d9bc",
      "name": "On form submission",
      "webhookId": "bc909c81-f4a8-40b5-8f2a-f7577f734509",
      "disabled": true
    },
    {
      "parameters": {
        "httpMethod": "PUT",
        "path": ":variable",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -1160,
        540
      ],
      "id": "d2431c8b-118c-4a8a-955c-419d31f2ec61",
      "name": "Webhook",
      "webhookId": "cc052d3e-36e6-4fc1-9b20-4c6d947007af"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.params.variable }}",
                    "rightValue": "test",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "d5e952f6-c4f0-44a1-b8aa-3763b3db6ff4"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "hello"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "ad901a4b-27bc-4138-8718-83130be79dfb",
                    "leftValue": "={{ $json.params.variable }}",
                    "rightValue": "hanh-chinh",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -900,
        540
      ],
      "id": "4f4f0aed-df85-4fa3-a404-7f5837464987",
      "name": "Switch"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "=chào",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        -540,
        -120
      ],
      "id": "34ad28da-1f1a-4124-af64-25475c47491c",
      "name": "hello"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($('Parse JSON').item.json) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        740,
        700
      ],
      "id": "f34da83b-266b-4c4a-b1be-f7616d60e46e",
      "name": "hanh-chinh respone"
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "mode": "list",
          "value": ""
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        980,
        440
      ],
      "id": "ffc49017-1aa2-48b1-8cc9-00e207906f04",
      "name": "Insert rows in a table",
      "credentials": {
        "postgres": {
          "id": "5i7jShWK4fXySSZZ",
          "name": "Postgres account 2"
        }
      },
      "disabled": true
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2025-07-10T13:20:10.000Z",
  "versionId": "50909bb8-29f3-4797-aec7-a082cdfa0d72"
}