workflows/NPV27QEKPYDLoTQn.json
{
  "active": false,
  "connections": {
    "On form submission": {
      "main": [
        []
      ]
    },
    "Execute a SQL query": {
      "main": [
        [
          {
            "node": "Tom Tat",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Tom Tat",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "Tom Tat",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Tom Tat": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Execute a SQL query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        []
      ]
    }
  },
  "createdAt": "2025-07-06T09:42:23.244Z",
  "id": "NPV27QEKPYDLoTQn",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "TomTat",
  "nodes": [
    {
      "parameters": {
        "formTitle": "Tóm tắt chat",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Id",
              "placeholder": "điền id se",
              "requiredField": true
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.2,
      "position": [
        60,
        0
      ],
      "id": "3b4d0da5-8e73-4b28-a6dd-35cbd098e7ba",
      "name": "On form submission",
      "webhookId": "b61d007b-fcea-425e-b954-492b63251f99",
      "disabled": true
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT \n    session_id,\n    STRING_AGG(message::text, ' || ') AS combined_messages\nFROM \n    n8n_chat_histories_overalls\nWHERE \n    session_id = '0b7a651641f14202ba788d6461f1b069'\nGROUP BY \n    session_id;\n\n\n",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        540,
        0
      ],
      "id": "49a41d01-bda7-469a-a9c6-712162738233",
      "name": "Execute a SQL query",
      "credentials": {
        "postgres": {
          "id": "6iHsrxijv8bMwpA3",
          "name": "Postgres account 4"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        700,
        200
      ],
      "id": "d7571448-3b04-4138-ac53-5f3887178a72",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "7fhytiSkpwvm2Ghp",
          "name": "Google Gemini(PaLM) Api account 4"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.session_id }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        880,
        280
      ],
      "id": "317f3baa-2018-4037-b998-6a165af8ca20",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.combined_messages }}",
        "options": {
          "systemMessage": "=Bạn là một trợ lý AI có nhiệm vụ trích xuất và tổng hợp thông tin quan trọng từ một đoạn hội thoại y tế giữa người dùng và hệ thống.\nHãy đọc đoạn hội thoại sau và thực hiện các yêu cầu sau:\nTrích xuất các thông tin quan trọng theo định dạng json sau (mỗi định dạng là 1 đoạn ngắn gọn):\n{\n \"ly_do_kham_benh\": <lý do khám bệnh>,\n  \"tien_su\": <tiền sử bệnh>,\n  \"benh_su\": <bệnh sử của bệnh nhân>\n}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        760,
        0
      ],
      "id": "8468d301-b1b1-499e-bafc-cb9faecbe270",
      "name": "Tom Tat"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        340,
        0
      ],
      "id": "a242da00-b274-4380-8e4f-78beaca3b767",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "bbfa23ff-20fb-4d76-8a02-53475dc3f4cb",
              "name": "output",
              "value": "={{$json.output.replace(/```json|```/g, '').parseJson()}}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1180,
        60
      ],
      "id": "28b33371-ec81-449b-b588-9ab16df1f38e",
      "name": "Edit Fields"
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-07-10T03:01:57.000Z",
  "versionId": "7dde2532-3f8e-4d36-87ad-565116a0748e"
}