workflows/qbiHUTW1EX794nws.json
{
  "active": false,
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "MCP Client",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Vector Store": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Simple Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Simple Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "MCP Client": {
      "main": [
        [
          {
            "node": "Simple Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-07-14T01:54:13.589Z",
  "id": "qbiHUTW1EX794nws",
  "isArchived": true,
  "meta": null,
  "name": "wf15",
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "query"
            }
          ]
        }
      },
      "id": "106692a5-d085-41f0-afea-b98d2c5153b0",
      "typeVersion": 1.1,
      "name": "When Executed by Another Workflow",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "position": [
        -980,
        160
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "10c0601a-0798-4c26-9058-1b1709bdcbf3",
              "name": "pageContent",
              "value": "={{ $json.pageContent }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        180,
        20
      ],
      "id": "51d96e00-3b99-44eb-9970-47cd39f39840",
      "name": "Edit Fields",
      "alwaysOutputData": true,
      "disabled": true
    },
    {
      "parameters": {
        "mode": "insert",
        "memoryKey": {
          "__rl": true,
          "mode": "list",
          "value": "vector_store_key"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreInMemory",
      "typeVersion": 1.3,
      "position": [
        -320,
        60
      ],
      "id": "37278ea7-51f4-4082-a735-2d5411994064",
      "name": "Simple Vector Store",
      "alwaysOutputData": true,
      "disabled": true
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        -360,
        280
      ],
      "id": "bd66de19-eeb8-4892-8707-e5aaf31dd6e8",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "oKPYEmR3sGNJdsZT",
          "name": "OpenAi account 4"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        -80,
        260
      ],
      "id": "4b707dcf-a903-4f30-9ff3-872bb7b0406e",
      "name": "Default Data Loader",
      "disabled": true
    },
    {
      "parameters": {
        "operation": "executeTool",
        "toolName": "search",
        "toolParameters": "={\"query\": \n \"{{ $json.query }}\"\n}"
      },
      "type": "n8n-nodes-mcp.mcpClient",
      "typeVersion": 1,
      "position": [
        -660,
        140
      ],
      "id": "f542f4b7-a161-48d7-ada1-d62484e05ca9",
      "name": "MCP Client",
      "credentials": {
        "mcpClientApi": {
          "id": "iCaXl7QBEZgfSweR",
          "name": "MCP Client (STDIO) account 2"
        }
      },
      "disabled": true
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-07-14T02:05:56.000Z",
  "versionId": "678947af-d55e-4ad8-92a2-4403c9d2ad57"
}