workflows/s3Ig2EONLuzJiCnu.json
{
  "active": false,
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "General support",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "General support": {
      "main": [
        [
          {
            "node": "Call generalist",
            "type": "main",
            "index": 0
          },
          {
            "node": "RAG PCT",
            "type": "main",
            "index": 0
          },
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "General support",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Generallist",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "chat memory": {
      "ai_memory": [
        [
          {
            "node": "General support",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Call generalist": {
      "main": [
        [
          {
            "node": "Generallist",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RAG PCT": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "PCT vector",
            "type": "ai_embedding",
            "index": 0
          },
          {
            "node": "RAG PCT1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "PCT vector",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Read/Write Files from Disk": {
      "main": [
        [
          {
            "node": "PCT vector",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "RAG PCT1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "ReSpAct structure": {
      "ai_outputParser": [
        [
          {
            "node": "General support",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Think": {
      "ai_tool": [
        [
          {
            "node": "Generallist",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-06-30T04:52:49.665Z",
  "id": "s3Ig2EONLuzJiCnu",
  "isArchived": true,
  "meta": null,
  "name": "My workflow 10",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        -2860,
        380
      ],
      "id": "57dc9b95-6e89-46f2-b278-08e957894119",
      "name": "When chat message received",
      "webhookId": "4ac4659d-1680-4116-a595-f8dc44d21455"
    },
    {
      "parameters": {
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=bạn là điều phối viên của hệ thống trợ lý ảo bệnh viện đại học y Phan Châu Trinh, có khả năng trả lời câu hỏi bằng ReSpAct (Reasoning, Speak, Action)\n\nĐịnh dạng câu trả lời trả về theo dạng json, có format dưới đây:\n{\n    \"reasoning\": \"\", // Phần bạn reasoning\n    \"speak\": \"\", // Phần bạn speak\n    \"action\": {} // Là một object\n}\n\nNhiệm vụ của bạn:\n- Mặc định hiểu rằng mọi câu hỏi liên quan đến “bệnh viện” hoặc các thành phần như “dịch vụ”, “giờ làm việc”, “bác sĩ”, “khoa”, v.v. đều đang nói về **Bệnh viện Đại học Y Phan Châu Trinh**, trừ khi **người dùng nhắc rõ một bệnh viện khác**.\n- Có thể trả lời các câu hỏi đơn giản\n- Luôn luôn sử dụng rag tool để trả lời các thông tin bệnh viện đại học y Phan Châu Trinh\n- Gọi cho generalist nếu người dùng cung cấp các thông tin về triệu chứng, bệnh của họ\n\nCác action mà bạn có thể thực hiện:\n1. Trả lời câu hỏi người dùng:\n{\n    \"type\": \"Respone\",\n}\n2. Gọi rag tool về bệnh viện:\n{\n    \"type\": \"RAG PCT\",\n    \"category\": \"Thông tin chung/Dịch vụ/Sự kiện/Khoa/Bác sĩ/Tuyển dụng/Chi phí & Bảo hiểm\", //Mặc định có các feild như vậy, không được thay đổi\n    \"query\": \"Thông tin cần tim sau khi reasoning\",\n}\n3. Hỏi bác sĩ tổng quát:\n{\n    \"type\": \"Call Generalist\",\n    \"info\": \"Thông tin triệu chứng tổng hợp từ memory\",\n}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        -2620,
        380
      ],
      "id": "022a109a-5f4e-4a87-8fe5-e490a1aa2c45",
      "name": "General support",
      "notesInFlow": false
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.5-flash",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -2880,
        660
      ],
      "id": "3369857f-e77f-4815-b63d-110ee724c00d",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "W6dxZLFCXIkzEHfX",
          "name": "Google Gemini(PaLM) Api account 2"
        }
      }
    },
    {
      "parameters": {
        "model": "deepseek-r1-distill-llama-70b",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        -1620,
        280
      ],
      "id": "69a33337-2efe-41e7-9e87-f41405931961",
      "name": "Groq Chat Model",
      "credentials": {
        "groqApi": {
          "id": "kbv8RI26Vl0qMMJu",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -2720,
        660
      ],
      "id": "44822796-bcba-40ed-bbe0-bcf7d312c9b6",
      "name": "chat memory"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.output.action.type }}",
                    "rightValue": "Call Generalist",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "fa0c9d18-0e5f-4ce9-a495-e2ae28ae440c"
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -2060,
        260
      ],
      "id": "96fa1864-fe41-4c27-9960-00ca3b0fc82e",
      "name": "Call generalist"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.output.action.info }}\n",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "Bạn là một generallist chuyên thu thập triệu chứng và đưa ra chẩn đoán cho người dùng"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        -1580,
        60
      ],
      "id": "705e25d5-b863-47d3-8fcf-d9f36554d40b",
      "name": "Generallist"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "a5e1e9a8-a1f6-45d5-b2fd-f2c50a2fe8ec",
                    "leftValue": "={{ $json.output.action.type }}",
                    "rightValue": "RAG PCT",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -2060,
        500
      ],
      "id": "d069a42a-4097-4c5e-a4ce-fbf4e09937aa",
      "name": "RAG PCT"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Cho tôi thông tin về  bệnh viện đại học y Phan Châu Trinh:\n1. Loại câu hỏi: {{ $json.output.action.category }}\n2. Hỏi về: {{ $json.output.action.query }}",
        "options": {
          "systemMessage": "=Bạn chuyên truy xuất thông tin về Bệnh viện \"Đại học Y Phan Châu Trinh\".\n\n# Quy tắc quan trọng:\n- **Luôn luôn truy vấn dữ liệu trước khi trả lời**, bất kể câu hỏi có đơn giản đến đâu.\n- **Luôn luôn phản hồi bằng thông tin được trích xuất từ dữ liệu hệ thống.**\n- **Không được bịa ra thông tin** nếu không tồn tại trong dữ liệu.\n\n## Nhiệm vụ của bạn:\n- Dựa trên phân thông tin đã trích xuất và câu hỏi người dùng, trả lời câu hỏi\n- Đối với các câu hỏi mang tính chất liệt kê, hãy liệt kê ngắn gọn và đầy đủ dựa trên thông tin đã trích xuất\n- Nếu **không tìm thấy thông tin**, hãy trả lời rằng **\"Tôi không tìm thấy thông tin liên quan trong hệ thống.\"**\n- Nếu **câu hỏi mơ hồ hoặc chưa đủ rõ**, hãy yêu cầu người dùng làm rõ.\n\n## Định dạng phản hồi:\n- Ngôn ngữ: **Tiếng Việt**\n- Trình bày dễ đọc, có xuống dòng cần thiết."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        -1260,
        620
      ],
      "id": "0bc8f7a8-c2fd-47ad-b430-cecaf97123b9",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        -680,
        1080
      ],
      "id": "0783816c-89ba-4702-ba7b-1c48c2dd983f",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "PpcktPH83DDrHTki",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "loader": "csvLoader",
        "textSplittingMode": "custom",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        -100,
        940
      ],
      "id": "ae46d60a-dae2-4be2-a6f0-421a05afadc1",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "fileSelector": "/home/duckq1u/Downloads/output.csv",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        -500,
        640
      ],
      "id": "9bef75a1-9c17-4e89-b4ea-3c9c20794272",
      "name": "Read/Write Files from Disk",
      "notesInFlow": false
    },
    {
      "parameters": {
        "mode": "insert",
        "memoryKey": {
          "__rl": true,
          "mode": "list",
          "value": "vector_store_key"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreInMemory",
      "typeVersion": 1.3,
      "position": [
        -280,
        740
      ],
      "id": "239f0b0f-e0f6-4766-81fd-b639706b9517",
      "name": "PCT vector"
    },
    {
      "parameters": {
        "chunkSize": 1500,
        "chunkOverlap": 200,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        -340,
        1080
      ],
      "id": "c352b026-e152-4ae0-82bb-47ec9a05e972",
      "name": "Recursive Character Text Splitter"
    },
    {
      "parameters": {
        "contextWindowLength": 15
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -1120,
        860
      ],
      "id": "daab7b6e-2d27-4dbb-bd28-9586baeed703",
      "name": "Simple Memory",
      "disabled": true
    },
    {
      "parameters": {
        "model": "meta-llama/llama-4-scout-17b-16e-instruct",
        "options": {
          "maxTokensToSample": 4096,
          "temperature": 0.1
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        -1460,
        860
      ],
      "id": "5050c12b-4369-48fc-aa2c-a8da584e36c5",
      "name": "Groq Chat Model1",
      "credentials": {
        "groqApi": {
          "id": "kbv8RI26Vl0qMMJu",
          "name": "Groq account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Gọi tool này để trích xuát các thông tin liên quan về bệnh viện đại học y Phan Châu Trinh",
        "memoryKey": {
          "__rl": true,
          "value": "vector_store_key",
          "mode": "list",
          "cachedResultName": "vector_store_key"
        },
        "topK": 10,
        "includeDocumentMetadata": false
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreInMemory",
      "typeVersion": 1.3,
      "position": [
        -960,
        880
      ],
      "id": "9363d13f-7f52-4b0c-86b0-66efbe810168",
      "name": "RAG PCT1"
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.0-flash",
        "options": {
          "maxOutputTokens": 10024,
          "temperature": 0.4
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -1280,
        860
      ],
      "id": "d54a9437-cad0-4fe0-a822-34a52cf0d5c6",
      "name": "Google Gemini Chat Model1",
      "credentials": {
        "googlePalmApi": {
          "id": "W6dxZLFCXIkzEHfX",
          "name": "Google Gemini(PaLM) Api account 2"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "2eb636cf-a55a-47e0-bdc2-121d986c9238",
              "name": "output.speak",
              "value": "={{ $json.output.speak }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2220,
        0
      ],
      "id": "69c58dce-dbdf-4cc9-91f0-d71c1dc1df7f",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n\t\"reasoning\":\"\",\n    \"speak\":\"\",\n    \"action\": \"\"\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        -2560,
        660
      ],
      "id": "132efc27-c1a5-43b6-b7c8-a35d8d9db3be",
      "name": "ReSpAct structure"
    },
    {
      "parameters": {
        "description": "Bác là một generalist, hãy suy nghĩ và thu thập triệu chứng của người dùng theo đủ 7 bước"
      },
      "type": "@n8n/n8n-nodes-langchain.toolThink",
      "typeVersion": 1,
      "position": [
        -1440,
        300
      ],
      "id": "1d42f741-5d01-47dd-ab5a-c316bb8fcb5e",
      "name": "Think",
      "disabled": true
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-07-02T02:05:01.000Z",
  "versionId": "00520743-e7ae-4613-b4fe-2e3c8b8e7dcf"
}