workflows/SqiCIpxsFelhfCA9.json
{
  "active": false,
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "MCP Client",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Simple Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Simple Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Simple Vector Store": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        []
      ]
    },
    "MCP Client": {
      "main": [
        [
          {
            "node": "Simple Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-07-13T14:57:47.823Z",
  "id": "SqiCIpxsFelhfCA9",
  "isArchived": true,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Info Search",
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "query"
            }
          ]
        }
      },
      "id": "c055762a-8fe7-4141-a639-df2372f30060",
      "typeVersion": 1.1,
      "name": "When Executed by Another Workflow",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "position": [
        480,
        320
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "10c0601a-0798-4c26-9058-1b1709bdcbf3",
              "name": "pageContent",
              "value": "={{ $json.pageContent }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1640,
        180
      ],
      "id": "78cf095a-5037-49b3-ad87-24bd8fb5c069",
      "name": "Edit Fields",
      "alwaysOutputData": true,
      "disabled": true
    },
    {
      "parameters": {
        "mode": "insert",
        "memoryKey": {
          "__rl": true,
          "mode": "list",
          "value": "vector_store_key"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreInMemory",
      "typeVersion": 1.3,
      "position": [
        1180,
        220
      ],
      "id": "6776fe8e-0821-4dbf-8a43-ec338349a576",
      "name": "Simple Vector Store",
      "alwaysOutputData": true,
      "disabled": true
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        1100,
        440
      ],
      "id": "c97565b2-f842-48e4-85cd-04a84b6db8ac",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "oKPYEmR3sGNJdsZT",
          "name": "OpenAi account 4"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        1380,
        420
      ],
      "id": "0e6b9f33-d376-4867-9ed3-f0af85cc687e",
      "name": "Default Data Loader",
      "disabled": true
    },
    {
      "parameters": {
        "operation": "executeTool",
        "toolName": "search",
        "toolParameters": "={\"query\": \n \"{{ $json.query }}\"\n}"
      },
      "type": "n8n-nodes-mcp.mcpClient",
      "typeVersion": 1,
      "position": [
        800,
        300
      ],
      "id": "cce68a7e-de56-49e4-9ccf-60fb30c8fd70",
      "name": "MCP Client",
      "credentials": {
        "mcpClientApi": {
          "id": "iCaXl7QBEZgfSweR",
          "name": "MCP Client (STDIO) account 2"
        }
      },
      "disabled": true
    }
  ],
  "pinData": {
    "When Executed by Another Workflow": [
      {
        "json": {
          "query": "giám đốc bệnh viện Đại học Y Khoa Phan Châu Trinh"
        }
      }
    ]
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-07-14T01:59:37.000Z",
  "versionId": "473a558b-6637-4119-a241-5fef431aab2d"
}