workflows/SYV9NRPZgyb00dN6.json
{
  "active": false,
  "connections": {
    "On form submission": {
      "main": [
        [
          {
            "node": "Execute a SQL query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute a SQL query": {
      "main": [
        [
          {
            "node": "Tom Tat",
            "type": "main",
            "index": 0
          },
          {
            "node": "EditMessage",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Tom Tat",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "Tom Tat",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "EditMessage": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "HTML1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tom Tat": {
      "main": [
        [
          {
            "node": "Edit Tom Tat",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Tom Tat": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    }
  },
  "createdAt": "2025-07-08T06:42:36.899Z",
  "id": "SYV9NRPZgyb00dN6",
  "isArchived": false,
  "meta": null,
  "name": "TomTat (Jul 8 at 08:59:02)",
  "nodes": [
    {
      "parameters": {
        "formTitle": "Tóm tắt chat",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Id",
              "placeholder": "điền id se",
              "requiredField": true
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.2,
      "position": [
        60,
        0
      ],
      "id": "3b4d0da5-8e73-4b28-a6dd-35cbd098e7ba",
      "name": "On form submission",
      "webhookId": "b61d007b-fcea-425e-b954-492b63251f99"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT \n    session_id,\n    STRING_AGG(message::text, ' || ') AS combined_messages\nFROM \n    n8n_chat_histories_overalls\nWHERE \n    session_id = '{{ $json.Id }}'\nGROUP BY \n    session_id;\n\n\n",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        240,
        0
      ],
      "id": "49a41d01-bda7-469a-a9c6-712162738233",
      "name": "Execute a SQL query",
      "credentials": {
        "postgres": {
          "id": "6iHsrxijv8bMwpA3",
          "name": "Postgres account 4"
        }
      }
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.5-flash",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        400,
        200
      ],
      "id": "d7571448-3b04-4138-ac53-5f3887178a72",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "7fhytiSkpwvm2Ghp",
          "name": "Google Gemini(PaLM) Api account 4"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.session_id }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        540,
        200
      ],
      "id": "317f3baa-2018-4037-b998-6a165af8ca20",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "html": "<!DOCTYPE html>\n\n<html>\n<head>\n  <meta charset=\"UTF-8\" />\n  <title>My HTML document</title>\n</head>\n<body>\n  <div class=\"container\">\n    <h1>Đoạn hội thoại</h1>\n    <p>{{ $json.combined_messages }}<p>\n    <h2>Tóm tắt hội thoại</h2>\n    <p>{{ $json.output }}<p>\n  </div>\n</body>\n</html>\n\n<style>\n.container {\n  background-color: #ffffff;\n  text-align: center;\n  padding: 16px;\n  border-radius: 8px;\n}\n\nh1 {\n  color: #ff6d5a;\n  font-size: 24px;\n  font-weight: bold;\n  padding: 8px;\n}\n  \ndiv.chat-history {\n  text-align: left;\n}\n\n.message {\n  margin: 12px 0\n}\n  \np {\n  text-align: left;\n}\n</style>\n\n<script>\nconsole.log(\"Hello World!\");\n</script>"
      },
      "type": "n8n-nodes-base.html",
      "typeVersion": 1.2,
      "position": [
        1080,
        -80
      ],
      "id": "f5d67712-cef2-4504-b2ab-cce835a03810",
      "name": "HTML1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "30c70ab7-dee6-4d57-a423-241231564404",
              "name": "combined_messages",
              "value": "={{ \n  '<div class=\"chat-history\">' +\n  $json.combined_messages\n    .split(' || ')\n    .map(e => {\n      try {\n        const obj = JSON.parse(e.trim());\n        if (obj.type === 'human') {\n          return `<div class=\"message human\"><strong>Human:</strong> ${obj.content}</div>`;\n        }\n        if (obj.type === 'ai') {\n          return `<div class=\"message ai\"><strong>AI:</strong> ${obj.content}</div>`;\n        }\n        return '';\n      } catch (err) {\n        return '';\n      }\n    })\n    .filter(e => e)\n    .join('') +\n  '</div>'\n}}\n",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        440,
        -160
      ],
      "id": "d1cba8de-04cf-4d7b-a0f8-abc23f73af7b",
      "name": "EditMessage"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        920,
        -80
      ],
      "id": "ce16f513-3a32-4149-b595-2244d1581c06",
      "name": "Merge"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.combined_messages }}",
        "options": {
          "systemMessage": "=Bạn là một trợ lý AI có nhiệm vụ trích xuất và tổng hợp thông tin quan trọng từ một đoạn hội thoại y tế giữa người dùng và hệ thống.\nHãy đọc đoạn hội thoại sau và thực hiện các yêu cầu sau:\n1.Tóm tắt nội dung chính của cuộc hội thoại (ngắn gọn và rõ ràng).\n2.Trích xuất các thông tin quan trọng theo định dạng sau (mỗi định dạng là 1 đoạn ngắn gọn):\n- Lý do khám bệnh\n- Tiền sử\n- Bệnh sử\n- Chuẩn đoán sơ bộ"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        440,
        0
      ],
      "id": "8468d301-b1b1-499e-bafc-cb9faecbe270",
      "name": "Tom Tat"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "70bac3e6-d6da-4128-8b0b-82a8fa16b0ae",
              "name": "output",
              "value": "={{ $json.output.replace(/\\n/g, '<br>').replace(/\\*/g, '') }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        740,
        0
      ],
      "id": "8de6a069-4060-43d5-8017-9de20e5a950c",
      "name": "Edit Tom Tat"
    }
  ],
  "pinData": {},
  "settings": {},
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-07-08T08:26:29.000Z",
  "versionId": "342d3c83-5a9b-4b0b-af64-8654cb88c14c"
}