workflows/ZDAANkpnlkwVLkkF.json
{
  "active": false,
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "MCP Client",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Vector Store": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Simple Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Simple Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "MCP Client": {
      "main": [
        [
          {
            "node": "Simple Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-07-18T15:32:54.281Z",
  "id": "ZDAANkpnlkwVLkkF",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "user_pipeline_v1.1_info_search",
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "query"
            }
          ]
        }
      },
      "id": "0ed831e4-f3bd-462d-8fda-b4fa55b63338",
      "typeVersion": 1.1,
      "name": "When Executed by Another Workflow",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "position": [
        -1088,
        80
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "10c0601a-0798-4c26-9058-1b1709bdcbf3",
              "name": "pageContent",
              "value": "={{ $json.pageContent }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -144,
        80
      ],
      "id": "9c905bd0-6de9-47e7-adc7-4401a09a07c1",
      "name": "Edit Fields",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "mode": "insert",
        "memoryKey": {
          "__rl": true,
          "mode": "list",
          "value": "vector_store_key"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreInMemory",
      "typeVersion": 1.3,
      "position": [
        -592,
        80
      ],
      "id": "ce5876a2-3939-4a9d-b3c8-15ba4117da26",
      "name": "Simple Vector Store",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        -592,
        304
      ],
      "id": "98748b12-99ed-4fdc-85ab-0e40fb215607",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "PpcktPH83DDrHTki",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        -416,
        304
      ],
      "id": "931f5219-961f-4b78-ae4f-bbafb3821aae",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "operation": "executeTool",
        "toolName": "search",
        "toolParameters": "={\"query\": \n \"{{ $json.query }}\"\n}"
      },
      "type": "n8n-nodes-mcp.mcpClient",
      "typeVersion": 1,
      "position": [
        -832,
        80
      ],
      "id": "283bbd66-d17d-4cce-9330-0afb09aa4832",
      "name": "MCP Client",
      "credentials": {
        "mcpClientApi": {
          "id": "iopexGLoAsx2WRmY",
          "name": "MCP Client (STDIO) account"
        }
      }
    }
  ],
  "pinData": {
    "When Executed by Another Workflow": [
      {
        "json": {
          "query": "địa chỉ bệnh viện Phan Châu Trinh"
        }
      }
    ]
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-07-19T01:15:44.000Z",
  "versionId": "591c97fd-7e40-4f5f-8fb7-18379190e9e6"
}