workflows/Zz1RiAlpgnMoPN9N.json
{
  "active": false,
  "connections": {
    "Orchestrator Agent": {
      "main": [
        []
      ]
    },
    "Expert Agent": {
      "ai_tool": [
        [
          {
            "node": "Orchestrator Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Info RAG",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Reranker Cohere": {
      "ai_reranker": [
        [
          {
            "node": "Info RAG",
            "type": "ai_reranker",
            "index": 0
          }
        ]
      ]
    },
    "Info RAG": {
      "ai_tool": [
        [
          {
            "node": "Orchestrator Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "Orchestrator Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Orchestrator Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "search": {
      "ai_tool": [
        [
          {
            "node": "Orchestrator Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "schedule_appointment": {
      "ai_tool": [
        [
          {
            "node": "Orchestrator Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "document_rag_temp": {
      "ai_tool": [
        [
          {
            "node": "Orchestrator Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "Orchestrator Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-07-15T02:06:31.556Z",
  "id": "Zz1RiAlpgnMoPN9N",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "user_pipeline_v1.1",
  "nodes": [
    {
      "parameters": {
        "options": {
          "systemMessage": "=Bạn là một AI Agent y tế của **Bệnh Viện Đại học Y khoa Phan Châu Trinh** chuyên gọi Tool bằng cách phân tích ngữ cảnh của cuộc hội thoại để hỗ trợ người dùng\n\nHướng dẫn sử dụng tool:\n- Khi người dùng muốn đặt lịch, hỏi thời gian đặt trong tuần (thứ 2 đến thứ 6, buổi sáng hoặc chiều, cccd, số điện thoại, họ tên), xác nhận và gọi tool \"schedule_appointment\"\n- Khi \"Info_RAG\" không có thông tin, bắt buộc sử dụng \"search\"\n\nOutput khi gọi Tool sẽ có dạng: {Tool: []}\n- Output từ Tool \"Expert_Agent\" có chứa trường \"expert\": <phản hồi từ tool chuyên gia> thì lấy giá trị của \"expert\" trả cho người dùng và không nói gì thêm.\n- Output từ Tool \"Info_RAG\" và \"search\", nếu cả 2 không có thông tin phù hợp thì trả \"Tôi không có thông tin này\".\n- Output từ Tool \"schedule_appointment\" nếu trả về session_id thì thông báo đặt lịch thành công\n- Nếu không có Tool thì sẽ trả lời bình thường\n\nĐịnh dạng trả về trình bày ngắn gọn, dễ hiểu, xuống dòng và highlight rõ ràng",
          "returnIntermediateSteps": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        400,
        0
      ],
      "id": "d5ffb1d4-d837-4b20-9f69-fe50ff29ec1f",
      "name": "Orchestrator Agent"
    },
    {
      "parameters": {
        "description": "Tool agent bác sĩ tổng quát để thăm khám.",
        "workflowId": {
          "__rl": true,
          "value": "QnXW3NUFI5VmiQVT",
          "mode": "list",
          "cachedResultName": "user_pipeline_v1.1_expert"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "sessionId": "={{ $json.sessionId }}",
            "chatInput": "={{ $json.chatInput }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "chatInput",
              "displayName": "chatInput",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "sessionId",
              "displayName": "sessionId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        1280,
        288
      ],
      "id": "138fe1b3-a4e9-4d94-bdfb-3418a0819936",
      "name": "Expert Agent",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        496,
        496
      ],
      "id": "c7a2191b-8e11-40fa-8044-e4b61a45fdea",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "PpcktPH83DDrHTki",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.rerankerCohere",
      "typeVersion": 1,
      "position": [
        624,
        496
      ],
      "id": "458335b6-eab9-4c44-896b-0e0090f2d3ba",
      "name": "Reranker Cohere",
      "credentials": {
        "cohereApi": {
          "id": "l5xKpT7PQrovoB80",
          "name": "CohereApi account 2"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "=- Công cụ chuyên truy vấn thông tin bệnh viện y khoa Phan Châu Trinh",
        "tableName": "documents_pg",
        "topK": 5,
        "includeDocumentMetadata": false,
        "useReranker": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePGVector",
      "typeVersion": 1.3,
      "position": [
        512,
        304
      ],
      "id": "ac9ec129-bef7-4d2e-98d7-9c1266bc08ef",
      "name": "Info RAG",
      "alwaysOutputData": false,
      "credentials": {
        "postgres": {
          "id": "5i7jShWK4fXySSZZ",
          "name": "benh-an (phuc)"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        32,
        0
      ],
      "id": "193d023b-862c-443b-adf1-baf6977369cd",
      "name": "When chat message received",
      "webhookId": "dcf42218-fea4-4cf7-b54e-582673b1c51b"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        176,
        336
      ],
      "id": "c29402b5-8d42-4525-bc91-62c47f658ea2",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "W6dxZLFCXIkzEHfX",
          "name": "Google Gemini(PaLM) Api account 2"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Dùng khi cần thông tin về bệnh viện Phan Châu Trinh",
        "operation": "executeTool",
        "toolName": "search",
        "toolParameters": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Tool_Parameters', `định dạng query có dạng {\"query\": \"\"}`, 'json') }}"
      },
      "type": "n8n-nodes-mcp.mcpClientTool",
      "typeVersion": 1,
      "position": [
        1136,
        288
      ],
      "id": "35beb256-5024-4e03-90aa-bcbbc0b375cb",
      "name": "search",
      "credentials": {
        "mcpClientApi": {
          "id": "iopexGLoAsx2WRmY",
          "name": "MCP Client (STDIO) account"
        }
      }
    },
    {
      "parameters": {
        "toolDescription": "Dùng tool này để đặt lịch khám",
        "url": "http://localhost:8501/webhook-test/lich-kham",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "ho_ten",
              "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters0_Value', `Họ tên người đặt`, 'string') }}"
            },
            {
              "name": "sdt",
              "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters1_Value', `Số điện thoại người đặt`, 'string') }}"
            },
            {
              "name": "cccd",
              "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters2_Value', ``, 'string') }}"
            },
            {
              "name": "tg",
              "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters3_Value', `Thời gian đặt (thứ 2 - thứ 6, buổi sáng/chiều)`, 'string') }}"
            },
            {
              "name": "session_id",
              "value": "={{ $json.sessionId }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.2,
      "position": [
        1440,
        272
      ],
      "id": "ee9fe984-b847-49ed-8353-d22986a640a8",
      "name": "schedule_appointment"
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Sử dụng tool này để cập nhật thông tin rag mới",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "document_pg_temp",
          "mode": "list",
          "cachedResultName": "document_pg_temp"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "cau_hoi": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('cau_hoi', `câu hỏi truy vấn`, 'string') }}",
            "tra_loi": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('tra_loi', `thông tin`, 'string') }}",
            "url": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('url', `đường dẫn thông tin, chỉ duy nhất 1 đường dẫn`, 'string') }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "cau_hoi",
              "displayName": "cau_hoi",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "tra_loi",
              "displayName": "tra_loi",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "url",
              "displayName": "url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgresTool",
      "typeVersion": 2.6,
      "position": [
        912,
        320
      ],
      "id": "de6cd788-5a33-4f0b-a1e2-081f06c3ee57",
      "name": "document_rag_temp",
      "credentials": {
        "postgres": {
          "id": "5i7jShWK4fXySSZZ",
          "name": "benh-an (phuc)"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.sessionId }}",
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        352,
        336
      ],
      "id": "7cf21e44-d11f-41fc-ac97-55e721acf24a",
      "name": "Simple Memory"
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2025-07-21T15:31:22.000Z",
  "versionId": "0a7e3fe0-5233-4f7e-9cc4-4f9ca4a18617"
}